/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* general styling */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(192, 201, 201);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.flex-c {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-20 {
  flex: 0 1 20%;
}

.flex-31 {
  flex: 0 1 31%;
}

.flex-75 {
  flex: 0 1 75%;
}


.container {
  max-width: 90%;
  margin: 0 auto;
}

/* styling header */

header {
  background-color: #4075D5;
  padding: 1rem 0;
}


/* styling main */

.crown {
  width: 2.5rem;
  margin-right: 10px;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  text-align: center;


}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  font-weight: 600;
  text-align: left;
}

p {
  font-size: 0.8rem;
  font-weight: 500;
  width: 95%;
  margin: 0.5rem auto;
  text-transform: capitalize;

}

li {
  padding: 1rem;
  margin-bottom: 0.8rem;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  margin-top: 2rem;
  flex: 0 1 31%;
}

.btn {
  padding: 0.5rem;
  text-align: center;
  margin: 0.5rem 0;
  display: inline-block;
  color: rgb(64, 64, 250);
  display: inline-block;
  background-color: rgb(223, 236, 247);
  border-radius: 10px;
  width: 90%;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid green;
}