/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* styling general */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(240, 232, 218);
}

h1 {
    font-size: 2rem;
    color: yellow;

    font-weight: bold;
    text-transform: capitalize;
    text-align: center;

}

h2 {
    font-size: 1.3rem;
    text-align: center;

    font-weight: bold;
    text-transform: capitalize;
    text-transform: capitalize;
}

p {
    color: rgb(97, 95, 95);
    font-size: 0.8rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;

}

img {
    width: 10rem;
    height: 12rem;
    object-fit: contain;
}

.btn {
    padding: 0.5rem;
    background-color: #377E80;
    font-size: 0.8rem;
    text-transform: capitalize;
    border-radius: 5px;
    display: inline-block;
    margin: 0 auto;
    width: 25%;
}

.container {
    max-width: 95%;
    margin: 0 auto;
    padding: 0.5rem;

}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-c {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-30 {
    flex: 0 1 32%;
}

.wrap {
    flex-wrap: wrap;
}


/* styling header */

header {
    background-color: #377E80;
    padding: 0.5rem 0;
}


/* styling main */

li {
    text-align: center;
    margin: 0.3rem 0;
}

ul {
    background-color: white;
    padding: 1rem;
    margin-bottom: 0.8rem;
    margin-right: 0.8rem;
}